/*------------------------------------*\
  #FONTS
\*------------------------------------*/
/*------------------------------------*\
#Variables
\*------------------------------------*/
:root {
  /* Global colors */
  --global-color-text-alha: black;
  --global-color-text-betha: #1563d7;
  --global-color-background: #f3f5f9;
  --global-color-label: white;

  /* Global whitespace */
  --global-whitespace-sm: 8px;
  --global-whitespace-md: 16px;
  --global-whitespace-l: 24px;

  /*Glabel timing*/
  --global-transitionTiming-alpha: 0.1s;

  /*Global fontsize*/
  --global-font-size-xl: 32px;
  --global-font-size-l: 24px;
  --global-font-size-m: 16px;
  --global-font-size-s: 12px;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/
/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/
html {
  background-color: var(--global-color-background);
  color: var(--global-color-text-alha);
  font-size: var(--global-font-size-m);
  line-height: 1.5;
  font-family: 'Roboto', Helvetica, arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
  background: var(--global-color-text);
  color: var(--global-color-text-betha);
  text-shadow: none;
}

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: var(--global-font-size-xl);
  font-weight: 400;
}

h2 {
  font-size: var(--global-font-size-l);
  margin: 0 0 var(--global-whitespace-md);
}

h3 {
  font-size: var(--global-font-size-l);
  margin: 0 0 var(--global-whitespace-md);
}

h4,
h5,
h6 {
  font-size: var(--global-font-size-m);
  font-weight: 600;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 var(--global-whitespace-md);
}

ul,
ol {
  padding-left: var(--global-whitespace-md);
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 var(--global-whitespace-md);
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: var(--global-whitespace-sm);
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 var(--global-whitespace-md);
}

a,
a:visited {
  transition: all var(--global-transitionTiming-alpha) ease-in-out;
  color: var(--global-color-alpha);
  outline-color: var(--global-link-BoxShadowColor);
  outline-width: medium;
  outline-offset: 2px;
}

a:hover,
a:focus {
  color: var(--global-color-alpha-light);
}

a:active {
  color: var(--global-color-alpha-dark);
}

label,
input {
  display: block;
}

select {
  width: 100%;
  font-size: 14px;
}

input::placeholder {
  color: var(--global-placeholder-color);
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/
/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/
.o-row {
  padding: 0 24px;
  display: flow-root;
}

/* size modifiers */
.o-row--md {
  padding-top: 24px;
  padding-bottom: 12px;
}

.o-row--lg {
  padding-top: 48px;
  padding-bottom: 24px;
}

.o-row--xl {
  padding-top: 96px;
  padding-bottom: 96px;
}

.o-row--intro {
  padding-top: 96px;
  padding-bottom: 96px;
}

.o-row--color {
  background: linear-gradient(161deg, rgba(21, 99, 215, 1) 0%, rgba(0, 212, 255, 1) 120%);
  color: var(--global-color-background);
}

@media (min-width: 768px) {
  .o-row {
    padding-left: 48px;
    padding-right: 48px;
  }

  .o-row--md {
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .o-row--lg {
    padding-top: 72px;
    padding-bottom: 48px;
  }
}

@media (min-width: 992px) {
  .o-row--xl {
    padding-top: 96px;
    padding-bottom: 72px;
  }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/
.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100em; /* 100* 16px = 1600 */
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/
.o-section {
  display: flow-root;
}

.o-section + .o-section {
  margin-top: 96px;
}

@media (min-width: 768px) {
  .o-section--lg + .o-section--lg,
  .o-section--xl + .o-section--xl {
    margin-top: 48px;
  }
}

@media (min-width: 1200px) {
  .o-section--xl + .o-section--xl {
    margin-top: 72px;
  }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/
.o-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.o-layout__item {
  flex-basis: 100%;
}

/* gutter modifiers, these affect o-layout__item too */
.o-layout--gutter {
  margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
  padding: 0 12px;
}

.o-layout--gutter-sm {
  margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
  padding: 0 6px;
}

.o-layout--gutter-lg {
  margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
  padding: 0 24px;
}

.o-layout--gutter-lg {
  margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
  padding: 0 24px;
}

.o-layout--gutter-xl {
  margin: 0 -40px;
}

.o-layout--gutter-xl > .o-layout__item {
  padding: 0 40px;
}
/* reverse horizontal row modifier */

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
/*
  Component: Animation
  ---
*/
.c-animation__active {
  animation: rotate 0.7s;
  animation-timing-function: ease-in-out;
  transform-origin: center center;
  animation-iteration-count: 1;
}

@keyframes rotate {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(540deg);
  }
}

/*
  Component: Loader
  ---
  Global loader component
*/

.c-load-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 23.5em;
}

.c-loader {
  /* // all metrics should be in px otherwise calc won't work for some reason. */
  --loader-viewbox: 50px; /* this variable should be the same as the viewbox attribute in html. */
  --loader__circle-stroke-width: 5px;
  --loader__circle-center: calc(var(--loader-viewbox) / 2);
  /* // The stroke is centered so we need to take that into account.
  // Otherwise some parts would be outside of the viewbox */
  --loader__circle-radius: calc(var(--loader-viewbox) / 2 - var(--loader__circle-stroke-width) / 2);
  --loader__circle-circumference: calc(var(--loader__circle-radius) * 2 * var(--pi));
  --loader__circle-gap: 20px;
  --loader__circle-circumference-gap: calc(var(--loader__circle-circumference) - var(--loader__circle-gap));
  --animation-duration: 1.5s;
  width: var(--loader-viewbox);
  height: var(--loader-viewbox);
  transition: opacity var(--global-transition-beta);
}

.c-loader__circle {
  stroke: OrangeRed;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: var(--loader__circle-stroke-width);
  stroke-dasharray: var(--loader__circle-gap), var(--loader__circle-circumference-gap);
  stroke-dashoffset: 0;
  r: var(--loader__circle-radius);
  cx: var(--loader__circle-center);
  cy: var(--loader__circle-center);
  animation: rotateCircle calc(var(--animation-duration) + 0.25s) linear infinite, strokeCircle var(--animation-duration) infinite, strokeColor calc(var(--animation-duration) * 5) calc(var(--animation-duration) / 2) infinite;
  transform-origin: center;
}

@keyframes rotateCircle {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes strokeCircle {
  50% {
    stroke-dasharray: var(--loader__circle-circumference-gap), var(--loader__circle-gap);
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: var(--loader__circle-gap), var(--loader__circle-circumference-gap);
    stroke-dashoffset: calc(var(--loader__circle-circumference) * -1);
  }
}

@keyframes strokeColor {
  20% {
    stroke: gold;
  }
  40% {
    stroke: LimeGreen;
  }
  60% {
    stroke: DodgerBlue;
  }
  80% {
    stroke: HotPink;
  }
}
/*
  Component: Custom Select
  ---
  Custom select dropdown
*/

.c-custom-select {
  display: block;
  position: relative;
}

.c-custom-select__input {
  padding-right: calc(var(--global-baseline) * 5);
}

.c-custom-select__symbol {
  width: calc(11rem / var(--global-font-size));
  height: calc(16rem / var(--global-font-size));
  position: absolute;
  top: 50%;
  /* transform: translateY(calc(-8rem / var(--global-root-font-size))); */
  transform: translateY(-50%);
  right: var(--global-whitespace-xs);
  pointer-events: none;
  fill: var(--global-color-neutral-light);
}
/*
  Component: Card
*/

.c-card {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
}

.c-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: var(--global-whitespace-md); */
}

.c-card__title {
  margin-bottom: 0;
  /* font-size: 18px;
  line-height: 25px; */
  font-size: 1.2rem;
  line-height: calc(var(--global-baseline) * 5);
}

.c-card__header,
.c-card__body {
  padding: var(--global-whitespace-md);
}

.c-card__header {
  padding-bottom: 0;
}

.c-card__header > *:last-child,
.c-card__body > *:last-child {
  margin-bottom: 0;
}

/*
    Component: Forms
    ---
    Everything form related here
*/
.c-form-field {
}

.c-form-field--option {
  display: flex;
  align-items: center;
}

/*
    Component: header
    ---
    Main header of the website
*/

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-header__nav,
.c-header__cta {
  display: none;
}

@media (min-width: 992px) {
  .c-header__nav,
  .c-header__cta {
    display: block;
  }

  .c-header__nav {
    margin-right: 20px;

    /* solution 1 */
    /* margin-left: auto; */

    /* solution 2 */
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
  }
}
.c-label__money {
  border-radius: 8px;
  background-color: var(--global-color-label);
  height: 48px;
  max-width: 62em;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.c-label__money--input {
  border-radius: 8px;
  border: none;
  outline: none;
  width: 100%;
  margin: 0 8px;
}

.c-label__money--item {
  min-width: 72px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.c-label__currency {
  border-radius: 16px;
  background-color: var(--global-color-label);
  width: 187px;
  height: 16px;
  max-width: 21.5em;
  margin: 16px 0;
}

.c-symbol__drop {
  fill: var(--global-color-text);
  height: var(--global-whitespace);
  width: var(--global-whitespace);
  pointer-events: none;
}

.c-button__calculate {
  color: white;
  border-radius: 8px;
  background-color: var(--global-color-label);
  height: px;
  max-width: 48, 625em;
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--global-color-text-betha);
  cursor: pointer;
  padding: var(--global-whitespace-md);
}

.c-button__calculate:active {
  box-shadow: inset 0px 0px 5px #1951a5;
}

.c-label__change {
  color: var(--global-color-text-betha);
  border-radius: 32px;
  background-color: var(--global-color-label);
  height: 48px;
  max-width: 48, 625em;
  margin: 16px 0 -4px 0;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 992px) {
  .c-label__change {
    margin: 16px 0 0 0;
  }
}
.c-symbol__change {
  align-self: center;
}

.c-label__change--currency {
  margin-right: 16px;
}

.c-label__compare {
  border-radius: 8px;
  background-color: var(--global-color-label);
  height: 48px;
  max-width: 992px;
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-label__compare--item {
  padding: 0 8px;
}

.c-column {
  display: block;
  text-align: right;
}

.c-column__item--betha {
  font-size: 14px;
  opacity: 50%;
  text-align: right;
}

.c-input {
  /* appearance: none; */
  width: 100%;
  border: none;
  outline: none;
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/
/*
  Utilities: span
  Utility classes to span grid items across the x and y axis
*/

/* x: horizontal */

@media (min-width: 62em) {
  .u-x-span-3-bp3 {
    grid-column: span 3;
  }

  .u-x-span-4-bp3 {
    grid-column: span 4;
  }

  .u-x-span-6-bp3 {
    grid-column: span 6;
  }

  .u-x-span-8-bp3 {
    grid-column: span 8;
  }

  .u-x-span-9-bp3 {
    grid-column: span 9;
  }
}

/* y: vertical */

@media (min-width: 62em) {
  .u-y-span-2-bp3 {
    grid-row: span 2;
  }
}

/* Utilities: position*/
.u-sticky {
  position: sticky !important;
  top: 0;
  width: 100%;
  z-index: 20;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/
.u-pt-clear {
  padding-top: 0 !important;
}

.u-mb-clear {
  margin-bottom: 0 !important;
}

.u-mb-xs {
  margin-bottom: 4px !important;
}

.u-mb-sm {
  margin-bottom: 8px !important;
}

.u-mb-md {
  margin-bottom: 16px !important;
}

.u-mb-lg {
  margin-bottom: 32px !important;
}

.u-mb-xl {
  margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/
.u-max-width-sm {
  max-width: 36em !important;
}

.u-max-width-md {
  max-width: 45em !important;
}

.u-max-width-lg {
  max-width: 64.66em !important;
}

.u-max-width-xl {
  max-width: 86.22em !important;
}

.u-max-width-none {
  max-width: none !important;
}

@media (max-width: 768px) {
  .u-max-width-lg {
    max-width: 27.5em !important;
  }
  .c-intro > .u-max-width-lg {
    max-width: 35.11em !important;
  }
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/
.u-flex-basis-auto {
  flex-basis: auto !important;
}

.u-flex-grow-1 {
  flex-grow: 1 !important;
}

.u-1-of-2 {
  flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
  flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
  flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
  flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
  flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
  flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
  flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
  flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
  flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
  flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
  flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
  .u-1-of-2-bp1 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp1 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp1 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp1 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp1 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp1 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp1 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp1 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp1 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp1 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp1 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 768px) {
  .u-1-of-2-bp2 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp2 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp2 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp2 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp2 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp2 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp2 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp2 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp2 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp2 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp2 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 992px) {
  .u-1-of-2-bp3 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp3 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp3 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp3 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp3 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp3 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp3 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp3 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp3 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp3 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp3 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 1200px) {
  .u-1-of-2-bp4 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp4 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp4 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp4 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp4 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp4 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp4 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp4 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp4 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp4 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp4 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}
